body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

div {
  border-radius: 8px;
}

.box-select {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.label {
  padding: 0.5rem 0;
  font-size: 1em;
  font-weight: 500;
  color: #ffffff;
}

.select-container {
  position: relative;
  width: 100%;
}

.select-container select {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid #3eb6a0;
  border-radius: 0.5rem;
  background-color: #ffffff;
  color: #333;
  font-size: 1em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.select-container::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #3eb6a0;
}

.select-container select:focus {
  border-color: #5aa5a0;
  outline: none;
  box-shadow: 0 0 5px rgba(91, 91, 219, 0.5);
}

.select-container select option {
  background-color: #ffffff;
  color: #333;
}
